/*@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant');*/

:root {
    font-family: 'Helvetica', Arial;
    font-style: italic;
    color: green;
    background-color: #e0f2f1
}

body {
    max-width: 980px;
    margin: auto;
}

header {
    height: 700px;
    background-image: url(../img/hands.jpg);
    background-size: cover;
    background-position: center;
}

header nav {
    display: flex;
}

header nav form {
    display: flex;
    margin: 14px 0;
}

header nav ul {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    list-style-type: none;
    margin: 0 2%;
}

header nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: green;
}

header .top h1 {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 50px 0 0 0;
    text-transform: uppercase;
}

header .top article h3 {
    display: flex;
    margin: 0 0 20;
    margin-left: 60%;
}

header .top article h3 a {
    text-decoration: none;
    color: green;
    padding: 0 5px;
}

.undertop {
    display: flex;
    flex-direction: column;
    margin: -530px 0 0 0;
}

.undertop p,
.undertop h3 {
    display: flex;
    margin-left: 50%;
    font-weight: bold;
}

.undertop ol {
    margin-left: 40%;
    font-weight: bold;
    color: hsl(16, 62%, 47%);
    list-style-type: none;
}

.undertop ol li {
    counter-increment: myCounter;
}

.undertop ol li::before {
    content: counter(myCounter);
    color: #ff9800;
    font-size: large;
    position: relative;
    top: 0;
    left: -20px;
}

.undertop ol li a {
    text-decoration: none;
    color: green;
}

main h2 {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 50px 0;
    text-transform: uppercase;
}

.main-lots {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid green;
    padding: 1%;
    background-color: #c3e6e3;
}

.lots img {
    width: 100%;
}

.lots div ul {
    list-style-type: none;
}

.pics {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1%;
    background-color: #c3e6e3;
}

main figure {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border: 1px solid green;
    padding: 5px;
    margin: 0;
}

main figure img {
    width: 100%;
}

main figure figcaption {
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

main p {
    display: flex;
    margin: 0 0 20;
    margin-left: 40%;
}

main form {
    display: grid;
    grid-template-columns: 1fr 10%;
    grid-row-gap: 10px;
}

main form label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

main form label input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
    width: 300px;
}

main form div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

main form div input {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    width: 90px;
}

@media (max-width: 750px) {
    header .top article h3,
    .undertop p,
    .undertop h3 {
        margin-left: 40%;
    }
    .undertop ol {
        margin-left: 30%;
        font-size: 15px;
    }
    .pics {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 750px) {
    .lots {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1%;
    }
}

@media (max-width: 600px) {
    header {
        height: 700px;
    }
    header nav form {
        display: grid;
        grid-template: 1fr 3fr / 6fr 1fr;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    header .top h1 {
        margin: 15px 0 0 0;
    }
    .pics {
        grid-template-columns: 1fr 1fr;
    }
    main form label {
        font-size: 15px;
    }
    main form label input {
        width: 250px;
    }
    #tel {
        font-size: 13px;
    }
}

@media (max-width: 450px) {
    header .top article h3,
    .undertop p,
    .undertop h3 {
        font-size: 12px;
    }
    .undertop ol {
        font-size: smaller;
    }
    .main-lots {
        grid-template-columns: 1fr;
    }
    .lots {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1%;
    }
    .pics {
        grid-template-columns: 1fr;
    }
    .lots div ul {
        font-size: small;
    }
    main form label {
        font-size: small;
    }
    main form label input {
        width: 150px;
    }
}
