/*@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant');*/

:root {
    font-family: 'Helvetica', Arial;
    font-style: italic;
    background-color: #e0f2f1;
}

body {
    max-width: 980px;
    min-width: 360px;
    margin: auto;
    color: green;
    background-color: #c3e6e3;
}

header {
    height: 700px;
    background-image: url(../img/hands.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
}

.form-inline {
    display: flex;
    margin: 14px 0;
}

.navbar-nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin: 0 2%;
}

.nav-link {
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: green; 
}

.top h1 {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 50px 0 0 0;
    text-transform: uppercase;
}

.top article h3 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.top article h3 a {
    text-decoration: none;
    color: orange;
    padding: 0 5px;
}

.undertop {
    display: flex;
    flex-direction: column;
    margin: -510px 0 0 0;
}

.undertop p,
.undertop h3 {
    display: flex;
    font-weight: bold;
    margin: 2% 0 0 50%;
}

.undertop p {
    color: orange;
}

.undertop ol {
    margin: 1rem 1rem 1rem 30%;
    font-weight: bold;
    list-style-type: none;
}

.undertop ol li {
    margin: 1% 0 1% 0;
    counter-increment: myCounter;
}

.undertop ol li::before {
    content: counter(myCounter);
    color: #ff9800;
    font-size: large;
    position: relative;
    top: 0;
    left: -20px;
}

.undertop ol li a {
    text-decoration: none;
    color: orange;
}

main h2 {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 50px 0;
    text-transform: uppercase;
}

.main-lots {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid green;
    padding: 1%;
    background-color: #c3e6e3;
}

.lots img {
    width: 100%;
}

.lots div ul {
    list-style-type: none;
}

.lots-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1%;
    background-color: #c3e6e3;
}

.lots-container figure {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border: 1px solid green;
    padding: 5px;
    margin: 0;
}

.lots-container figure img {
    width: 100%;
}

.lots-container figure figcaption {
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

main p {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 0 20;
    background-color: #c3e6e3;
}

main form {
    display: grid;
    grid-template-columns: 1fr 10%;
    grid-row-gap: 10px;
    background-color: #c3e6e3;
}

main form label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

main form label input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
    width: 300px;
}

.lot-number {
    justify-content: flex-start;
    margin-left: 10px;
    width: 300px;
}

main form div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

main form div input[type=submit], 
main form div input[type=reset] {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    width: 90px;
    background-color: green;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #c3e6e3;
}

footer nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

footer nav a {
    color: orange;
}

footer nav div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 750px) {
    .top article h3,
    .undertop p,
    .undertop h3 {
        margin-left: 40%;
    }
    .undertop ol {
        margin-left: 30%;
        font-size: 15px;
    }
    .lots-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 750px) {
    .lots {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1%;
    }
}

@media (max-width: 600px) {
    .top h1 {
        margin: 15px 0 0 0;
    }
    .undertop ol {
    margin-left: 20%;
    }
    .lots-container {
        grid-template-columns: 1fr 1fr;
    }
    main form label {
        font-size: 15px;
    }
    main form label input, .lot-number {
        width: 250px;
    }
    #tel {
        font-size: 13px;
    }
}

@media (max-width: 450px) {
    .top article h3 {
        font-size: larger;
    }
    .undertop p,
    .undertop h3 {
        font-size: 12px;
    }
    .undertop ol {
        font-size: smaller;
    }
    .main-lots {
        grid-template-columns: 1fr;
    }
    .lots {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1%;
    }
    .lots-container {
        grid-template-columns: 1fr;
    }
    .lots div ul {
        font-size: small;
    }
    main form label {
        font-size: small;
    }
    main form label input, .lot-number {
        width: 150px;
    }
}
